@import
url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	background-image: url("/assets/Cambodia_180619_0054(edit).jpg");
    background-color: #FFF;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 100%;
	max-width: 70em;
	margin: 0 auto;
}

/* typoraphy
================== */

h1 {
	font-weight: 300;
	font-size: 1.7rem;
	margin-top: 0;
}

p {
	margin-top: 0;
	line-height: 1.7;
}

p:last-of-type {
	margin-bottom: 0;
}


.title h1 {
	margin-top: 1em;
	font-size: 3.5rem;
	margin-bottom: 1em;
	font-weight: 900;
}

.title p {
	margin-bottom: 2em;
	display: block;
	font-size: 2em;
	font-weight: 700;

}


@media (min-width: 55rem) {
	.home-about h1 {
		font-size: 2rem;
	}
}

.button-text {
	background-color: #FFCCFF;
	color: #FFF;
}

.button {
	display: inline-block;
	font-size: 1.5rem;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 2px;
	border-style: solid;
	padding: .5em 1.75em;
	border-color: #FFCCFF;
	
}

.button:hover,
.button:focus,
.button:active {
	background: #FA92FF;
	border-color: #FA92FF;
	color: #FFF;
	text-decoration: none;
}

@media (min-width: 55rem) {
	.button {
		font-size: 1rem;
	}
}



/* header
================== */

header {
	position: absolute;
	margin: -.3em -1em -1em 0em;
	left: 0;
	right: 0;
	background-color: #FFF;
	padding-top: .5em;
}

nav ul {
	margin: 1em;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin: 1em;
}

nav a {
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .9rem;
	padding: .75em;
	color: #A9A9A9;
	margin: 0 auto;
	cursor: pointer;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}

/* stroke */
nav.stroke ul li a {
  position: relative;
}
nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}


@media (min-width: 55rem) {

	.logo {
		float: left;
	}
	.nav {
		float: right;
	}
}


/* about hero
================== */

.about-hero {
	background-image: url("images/Cambodia_180619_0054(edit).jpg");
	background-size: cover;
	background-position: center;
	padding: 10em 0;
	color: #FFF;

}
@media (min-width: 55rem) {
	.about-hero {
		height: 100vh;
		padding-top: 35vh;
	}
}

/* home about
================== */

.home-about-textbox {
	background-color: #232323;
	padding: 4em;
	width: 100vw;
	margin-left: -2.5%;
	outline: 2px solid #FFCCFF;
	outline-offset: -2.5em;
	color: #FFF;
	position: relative;
	letter-spacing: 0.15em;
}

.home-about-textbox h1 {
	color: #FFCCFF;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: .75em;
	background-color: #232323;
	padding: 0 .145em;
}

.video-bg {
	position: absolute;
	top: 800px;
	left: 670px;

}

@media (max-width: 60rem) {
	h1 {
		font-size: 1.5rem;
	}
	.home-about-textbox h1 {
		top: 1.5em;
		padding: 0 .8em;
		font-size: 1.1em;
	}
}

@media (min-width: 60rem) {
	h1 {
		font-size: 1.5rem;
	}

	.home-about {
		background-repeat: no-repeat;
		background-size: 70%;
		padding-bottom: 30em;
		background-position: right;
		margin-top: 3em;
	}

	.home-about-textbox {
		width: 50%;
		padding: 7em;
		outline-offset: -4em;
		margin-right: -2.5%;
		top: -5em;
		float: left;
		text-align: left;
		box-shadow: 0 0 4em 0 rgba(0,0,0,.5);
	}

	.home-about-textbox h1 {
		top: 1.3em;
		left: 9.5rem;
		transform: translateX(0);

	}

}

/* pictures
=================== */

.pictures {
	margin: 5em 0 30em;
	padding-top: 3em;
	padding-bottom: 10em;
}

.fade-in .pictures{
  transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
}

.picture-item {
	position: relative;
	margin: 0;
}

.picture-item img {
	display: block;
	width: 100vw;
}

@media (min-width: 37rem) {
	.picture-item {
		width: 50%;
		float: left;
	}
	.pictures {
		margin-top: 5em
		margin-bottom: 0;
		padding-bottom: 1em;
	}
}


@media (min-width: 60rem) {
	.picture-item {
		width: 33.3333334%;
	}
}

/* footer
==================== */

footer {
	padding: 20px;
}



/* travel.html
=================== */

.tipsTitle {
	padding: 5em 0;
	font-size: 2em;
	font-family: "Playlist", sans-serif;
	color: #FFF;
}

@media (min-width: 20em) {
	.tipsTitle {
		padding: 7em;
		font-size: 2em;
	}
}

@media (min-width: 60em) {
	.tipsTitle {
		padding: 5em 0 2em 0;
		font-size: 4em;
	}
}


.tipsArea {
	background-color: #FFE2BA;
	padding: 165px 80px 110px;
}

.tips .ttl .txt {
	font-size: 3rem;
	position: relative;
	z-index: 5;
	left: 40px;
	padding: 0 0 15px;
}

p .txt {
	margin: 0;
	border: none;
	vertical-align: baseline;
	background: transparent;

}

.tips .ttl {
	color: #3c7cf1;
	line-height: 1.7;
}

.answer {
	left: 50%;
	padding: 0 0 0 58%;
	color: #61646d;
	position: relative;
	word-wrap: break-word;
	letter-spacing: 0.2em;
}

/* history
=====================*/


.his-pic1 {
	float: left;
	animation-delay: 300ms;
	margin: 3em 3em 3em 3em;
}

.his-pic2 {
	float: right;
	margin: 3em 3em 3em 3em;
}


.historyArea p {
	font-size: 1.1rem;
	line-height: 2;
	text-align: left;
	word-wrap: break-word;
	padding: 3em 3em 3em 3em;

}

.p3 {
	padding-bottom: 8em;
	padding-top: 4em;
}



.line {
	background: linear-gradient(transparent 40%, #BDEDFF 40%);
}

.historyArea  {
	background-color: #FFCBA4;
	margin: 0 2.5em 0 2.5em;

}

.titleArea {
	background-image: url("images/Movie_180716_0048.jpg");
	background-size: cover;
	margin: 0 2.5em 0 2.5em;
}

.history-bg {
	font-family: "Playlist", sans-serif;
	font-size: 15em;
	color: #E8E8E8;
	opacity: 0.5;
	position: absolute;
	bottom: 0;
	top: 2000px;
	left: 800px;
	z-index: 1;
}


/* project
===================*/

.project-area {
	background-color: #FFCBA4;
	margin: 0 2.5em 0 2.5em;
	padding-bottom: 5em;
}

.project p {
	
	padding-top: 2em;
	line-height: 2;
	word-wrap: break-word;
	font-size: 1.17em;
	text-align: left;
	z-index: 2;
}
	
.line-bold {
	font-size: 2em;
	font-weight: 700;
	background: linear-gradient(transparent 40%, #FFA33E 40%);
}

.project-titleArea {
	background-image: url("images/Movie_180716_0006.jpg");
	margin: 0 2.5em 0 2.5em;
	background-size: cover;
}

.project-bg {
	font-family: "Playlist", sans-serif;
	font-size: 15em;
	color: #E8E8E8;
	opacity: 0.5;
	position: absolute;
	bottom: 0;
	top: 1000px;
	left: 800px;
	z-index: 1;
}

i {
	font-size: 2.5em;
	color: #000000;

}

/* travel tips
================== */

.travel-titleArea {
	background-image: url("images/Cambodia_180619_0068.jpg");
	margin: 0 2.5em 0 2.5em;
	background-size: cover;
}


