<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> About </title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>
	<header>
		<a href="/"><img src="images/logo.png" alt="logo" width="250" height="70" class="logo"></a>
		<nav class="stroke">
			<ul>
				<li><a class="navbar_link" href="/">Top</a></li>
                <li><a class="navbar_link" href="/about">About</a></li>
                <li><a class="navbar_link" href="/history">History</a></li>
                <li><a class="navbar_link" href="/cambodia">Information</a></li>
			</ul>
		</nav>
	</header>

    <section class="project-titleArea">
        <div class="">
            <p class="tipsTitle">Who We Are</p>
        </div>
    </section>

    <section class="project-area"> 
        <div class="project ">
            <div class="animate-text"><p><span class="line-bold">HERO LA </span>is an organization that is hoping Cambodian education better. <br>We are working on a project with Hero which is a Japanese NPO. <br><br>Our goal is to give dreams and hopes through providing education for Cambodian kids who cannot attend school because of their financial or social problem. Since 2010, HERO has built 18 schools in Cambodia.<br><br>What we do is offering you study tour which is a program to learn Cambodian culture, history, and infrastructure such as education or medical system. Also we are offering internship program for Japanese students. <br><br>The participants are not only those who want to learn about Cambodian children, but also who want to have an exciting experience or who want to improve their life as well.<br><br> We are providing tours for everyone. No matter who you are, we are excited about inviting you to Cambodia. The contents of activities are depend on what you want. We can make your visit the best for you based on your preference. <br><br><br>Feel free to contact us for more information. </p></div>
        </div>
        <div class="project-bg">About Us</div>
    
        <a href="https://www.instagram.com/hero_losangeles/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/NPO-HERO-in-Los-Angeles-374348326420061/"> <i class="fab fa-facebook-square"></i></a>
    </section>
    <section class="pictures">
    <!-- picture 1 -->
    <figure class="picture-item">
        <img src="images/Cambodia_180619_0066.jpg" alt="picture" width="360" height="100.47" class="fade-in">
    </figure>

    <!-- picture 2 -->
    <figure class="picture-item">
        <img src="images/Cambodia_180619_0044.jpg" alt="picture" width="360" height="100.47" class="fade-in">
    </figure>

    <!-- picture 3 -->
    <figure class="picture-item">
        <img src="images/Cambodia_180619_0033.jpg" alt="picture" width="360" height="100.47" class="fade-in">
    </figure>

    <!-- picture 4 -->
    <figure class="picture-item">
        <img src="images/Cambodia_180619_0015.jpg" alt="picture" width="360" height="100.47" class="fade-in">
    </figure>

    <!-- picture 5 -->
    <figure class="picture-item">
        <img src="images/Cambodia_180619_0049.jpg" alt="picture" width="360" height="100.47" class="fade-in">
    </figure>

    <!-- picture 6 -->
    <figure class="picture-item">
        <img src="images/Cambodia_180619_0054.jpg" alt="picture" width="360" height="100.47" class="fade-in">
    </figure>

    </section>
   

    <footer>
        <div class="">
            <img src="images/logo.png" alt="logo" width="300" height="70.47">
        </div>
    </footer>

    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script> 
    <script type="text/javascript" src="javascripts/main.js"></script>

</body>
</html>
