<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Cambodia </title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<!-- icons -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>
	<header>
		<a href="/"><img src="images/logo.png" alt="logo" width="250" height="70" class="logo"></a>
		<nav class="stroke">
			<ul>
				<li><a class="navbar_link" href="/">Top</a></li>
				<li><a class="navbar_link" href="/about">About</a></li>
				<li><a class="navbar_link" href="/history">History</a></li>
				<li><a class="navbar_link" href="/cambodia">Information</a></li>
			</ul>
		</nav>
	</header>
	
	<section class="travel-titleArea">
		<div class="">
			<p class="tipsTitle">Information</p>
		</div>
	</section>

	
	<div class="historyArea">
		<div class="info-list">
		  	<h2>Cambodia</h2>
		  	<ul style="list-style-type:none">
	    		<li><strong>Official name: </strong> Preahreacheanachakr Kampuchea ព្រះរាជាណាចក្រកម្ពុជា</li>
	     		<li><strong>Capital: </strong> Phnom Penh</li>
	     		<li><strong>Language: </strong> Khmer (Cambodian)</li>
	     		<li><strong>Currency: </strong> U.S. dollars are used in Cambodia (but there is their own currency, Riel)</li> 
	     		<!-- <i class="far fa-money-bill-alt"></i> -->
	     	</ul>
	 	</div>


	 	 <img src="images/angkorwat-01.png" alt="picture" width="300" height="300" class='info-pic1'>
	 	 <img src="images/angkorwat-01.png" alt="picture" width="300" height="300" class='info-pic2'>
	 	 <img src="images/angkorwat-01.png" alt="picture" width="300" height="300" class='info-pic3'> 
		<div class="info-innner">
			<!-- <img src="images/angkorwat-01.png" alt="picture" width="300" height="100" class='info-pic1'> -->
			<p>Cambodia is located in Southeast Asia, surrounded by Vietnam, Laos, and Thailand. <br>There is the world-famous <strong>Angkor Wat</strong>, which is one of the UNESCO World Heritage sites in Cambodia, so many people come to Cambodia for sightseeing. 
			There are many sightseeing places in Cambodia such as historical place. Since there are a lot of tourists, there are some Westernized places to eat and drink as well. Cambodian food is so <strong>tasty!!!!!</strong> <br>And, everything is extremely <strong>cheap!!!!</strong> You can use U.S. dollars, so you do not need to exchange currency.
			Tuk tuk is a famous Cambodian transportation which is pulled by a motorcycle.
			Cambodia is safe to visit as well!!</p>
		</div>
	</div>
	
	


	

	<footer>
		<div class="">
			<img src="images/logo.png" alt="logo" width="300" height="70.47">
		</div>
	</footer>
    <script type="text/javascript" src="javascripts/main.js"></script>   

</body>
</html>
