<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Cambodia </title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<script type="text/javascript" src="main.js"></script>
	<header>
		<a href="index.ejs"><img src="images/logo.png" alt="logo" width="250" height="70" class="logo"></a>
		<nav class="stroke">
			<ul>
				<li><a class="navbar_link" href="/">Top</a></li>
				<li><a class="navbar_link" href="/about">About</a></li>
				<li><a class="navbar_link" href="/history">History</a></li>
				<li><a class="navbar_link" href="/cambodia">Cambodia</a></li>
			</ul>
		</nav>
	</header>
	
	<section class="travel-titleArea">
		<div class="container">
			<p class="tipsTitle">Travel Tips</p>
		</div>
	</section>

	<div class="historyArea">
		<section class="t1 tips">
		  <div class="tips_inner">
		    <div class="t1_ttl ttl">
		      <p class="num">T1.</p>
		      <p class="txt">Tips 1</p>
		    </div>

		    <div class="t1_img img" style="opacity: 1; margin-right: 0px; margin-left: 0px;"></div>

		    <div class="answer" style="opacity: 1; left: 0px;">
		      分譲マンション用地の仕入れ及び、事業の工程管理をしています。
		      仕入れでは、売買仲介業を行っている不動産業者様に物件情報を紹介して頂き、その中から検討できる案件の調査をします。<span class="line">周辺の利便性や学区、他社マンションの売れ行きや市況を顧みて総合的に判断</span>し、優良な案件については土地の取得をできるように折衝を行い、土地を購入。土地購入からお客様が住める状態に至るまでは約2年間かかるのですが、<span class="line">円滑に事業が進むように全体を見回す役目も担います。</span>
		    </div>
		  </div>
		</section>

		<section class="t2 tips">
		  <div class="tips_inner">
		    <div class="t2_ttl ttl">
		      <p class="num">T2.</p>
		      <p class="txt">Tips 2</p>
		    </div>

		    <div class="t2_img img" style="opacity: 1; margin-right: 0px; margin-left: 0px;"></div>

		    <div class="answer" style="opacity: 1; left: 0px;">
		      何十億円という金額のプロジェクトを担当しているので、プレッシャーや責任は感じますが、その分うまくいった時の喜びは他の職種では味わえない達成感だと思います。<br>
		      土地の取得以前の段階から、お客様が住まう時までずっと工程に関わっているため、土地に対しての思い入れは非常に強くなります。<span class="line">「ここに住みたい」という気持ちに共感</span>して頂き、お客様にマンションの購入を決めて頂けた時はとてもうれしいですね。
		    </div>
		  </div>
		</section>

		<section class="t3 tips">
		  <div class="tips_inner">
		    <div class="t3_ttl ttl">
		      <p class="num">T3.</p>
		      <p class="txt">Tips 3</p>
		    </div>

		    <div class="t3_img img" style="opacity: 1; margin-right: 0px; margin-left: 0px;"></div>

		    <div class="answer" style="opacity: 1; left: 0px;">
		      少しでも高く売りたい地主さんと、少しでも安く買いたい会社との間に立って仕事をするので、どこで折り合いをつけるかという交渉が大変です。周辺の相場や地主さんの状況に応じて金額を詰めていくのですが、想定よりあまりに低い金額だと商談がなくなりますし、高すぎると会社の承認がとれません。<span class="line">お互いにとって良い妥協点を探っていくということ</span>が苦労するポイントでもあり、面白さでもあると感じています。
		    </div>
		  </div>
		</section>

		<section class="t4 tips">
		  <div class="tips_inner">
		    <div class="t4_ttl ttl">
		      <p class="num">T4.</p>
		      <p class="txt">Tips 4</p>
		    </div>

		    <div class="t4_img img" style="opacity: 1; margin-right: 0px; margin-left: 0px;"></div>

		    <div class="answer" style="opacity: 1; left: 0px;">
		      私は建築学科を卒業して、新卒でデベロッパーへ就職し、建築関連業務と仕入れに携わったのちにマリモに入社しました。前職の時から「マリモ」という企業は知っており、他社が進出しない<span class="line">地方都市のエリアで次々とマンション事業を成功</span>させているので、どのような指針で取り組んでいるか気になる存在でした。<span class="line">マリモは設計事務所をルーツにもつ企業</span>なので、用地仕入れのみならず様々なことを学んでレベルアップするチャンスだと思い入社を決めました。
		    </div>
		  </div>
		</section>

		<section class="t5 tips">
		  <div class="tips_inner">
		    <div class="t5_ttl ttl">
		      <p class="num">T5.</p>
		      <p class="txt">Tips 5</p>
		    </div>

		    <div class="t5_img img" style="opacity: 1; margin-right: 0px; margin-left: 0px;"></div>

		    <div class="answer" style="opacity: 1; left: 0px;">
		      部署を越えて、様々な人とコミュニケーションが取りやすい点です。用地仕入れの仕事は他部署と関わることが多いのですが、分からないことや困ったことを相談すると、様々な手段や方法を教えて頂くことが多くあります。社員全員の意識の根底に<span class="line">「マンション事業を成功させて、良い住宅をお客様に提供したい」という想い</span>があるので、協力し合う風土が形成されているのだと思います。
		    </div>
		  </div>
		</section>

	</div>
	

	<footer>
		<div class="container">
			<img src="images/logo.png" alt="logo" width="300" height="70.47">
		</div>
	</footer>
            

</body>
</html>
