<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> History </title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.min.css">
</head>
<body>
	<header>
		<a href="/"><img src="images/logo.png" alt="logo" width="250" height="70" class="logo"></a>
		<nav class="stroke">
			<ul>
				<li><a class="navbar_link" href="/">Top</a></li>
				<li><a class="navbar_link" href="/about">About</a></li>
				<li><a class="navbar_link" href="/history">History</a></li>
				<li><a class="navbar_link" href="/cambodia">Information</a></li>
			</ul>
		</nav>
	</header>

		<section class="titleArea">
			<div class="">
				<p class="tipsTitle">Cambodia History</p>
			</div>
		</section>

		<div class="historyArea">
			<div class="">
				<section class="his p1"> 
					<div class="animate-image"> <img src="images/Cambodia_180619_0007.jpg" alt="picture" width="550" height="250" class='his-pic1'> 
					</div>
					<div class="animate-text">
						<p class="p1"> <strong> <span class="line">Now, there are only few schools as well as teachers in Cambodia.</span> </strong> This cause is a condition that Cambodian kids can hardly take education. We would say this condition is caused by the horrible history in Cambodia led by Pol Pot.
						1975 to 1979, Pol Pot was a political leader whose communist Khmer Rouge government led Cambodia. During that time, an estimated 1.5 to 2 million Cambodian died of starvation, execution, disease or overwork. Under Pol Pot, the state controlled all aspects of a person’s life such as money, private property, most reading material, and religion. </p>
					</div>
				</section>
				<section class="his p2">
					<div class="animate-image"> <img src="images/Cambodia_180619_0081.jpg" alt="picture" width="550" height="250" class='his-pic2'> 
						<div class="animate-text">
							<p class="p2"> At that time, the government closed the country, so other countries did not know what was going on in the country. One detention center was flagrant. <span class="line">About only 7 of the roughly 20,000 people imprisoned there are known to have survived.</span> The Khmer Rouge that is the primitive communism, in their attempt to socially engineer a classless communist society, took particular aim at an intellectual, city residents, ethnic Vietnamese, civil servants and religious leaders. They and their relatives were killed. </p>
						</div>
					</div>
				</section>
				<section class="his p3">
					<div class="animate-image"> <img src="images/Cambodia_180619_0254.jpg" alt="picture" width="550" height="250" class='his-pic3'>
						<div class="animate-text"> 
							<p class="p3"> Moreover, <span class="line">Pol Pot shut down all schools, so children could not go to school. </span>At that time, children were taken from homes and forced into the military, and strict rules governing sexual relations, vocabulary and clothing were laid down. Therefore, in the history, Cambodian education was decreased, and many teachers and intellectuals were killed. Thus, it was not easy to restart the schools after the era. </p> 
						</div>
					</div>
					<div class="history-bg">History</div>
				</section>
			</div>
		</div>

	
	
	<div class="">
		<footer>
			<img src="images/logo.png" alt="logo" width="300" height="70.47">
		</footer>
	</div>


	<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>	
	<script type="text/javascript" src="javascripts/main.js"></script>
</body>
</html>
