<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> HERO PROJECT </title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">

</head>
<body>
	<header>
		<a href="index.html"><img src="images/logo.png" alt="logo" width="360" height="100.47" class="logo"></a>
		<nav class="stroke">
			<ul>
				<li><a class="navbar_link" href="index.html">Top</a></li>
				<li><a class="navbar_link" href="history.html">History</a></li>
				<li><a class="navbar_link" href="project.html">Project</a></li>
				<li><a class="navbar_link" href="travel.html">Travel Tips</a></li>
			</ul>	
		</nav>
	</header>

	<section class="about-hero">
		<div class="container title">
			<h1>Make the world better</h1>
			<p>–for children, for dream, for peace-</p>
			 <a href="project.html" class="button button-text">See Our Project</a>
		</div>
	</section>

	<div class="container">
		<section class="home-about">
			<div class="home-about-textbox">
				<h1>WHO WE ARE</h1>
				<p>HERO LA is an organization that is hoping Cambodian education better. We are working on a project with Hero which is a Japanese NPO. Our goal is to give dreams and hopes through providing education for Cambodian kids who cannot attend school because of their financial or social problem. Since 2010, HERO has built 18 schools in Cambodia.</p>
			</div>		
		</section>
	</div>
	<div class="video-bg">
		<video width="700" height="500" controls loop="" autoplay="">
			<source src="images/HERO-project.mp4" type="video/mp4">
				Your browser does not support HTML5 video.
			
		</video>
	</div>

	


	<footer>
		<div class="container">
			<img src="images/logo.png" alt="logo" width="300" height="70.47">
		</div>
	</footer>

		
	
	<script type="text/javascript" src="main.js"></script>
</body>
</html>