<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> HERO PROJECT </title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

</head>
<body>
	<header>
		<a href="/"><img src="images/logo.png" alt="logo" width="250" height="70" class="logo"></a>
		<nav class="stroke">
			<ul>
				<li><a class="navbar_link" href="/">Top</a></li>
				<li><a class="navbar_link" href="/about">About</a></li>
				<li><a class="navbar_link" href="/history">History</a></li>
				<li><a class="navbar_link" href="/cambodia">Cambodia</a></li>
			</ul>	
		</nav>
	</header>

	<section class="about-hero">
		<div class="container title">
		<h1>Make the world better</h1>
			<p>–for children, for dream, for peace-</p>
		</div>
	</section>

	
	<div class="video-bg">
		<video width="700" height="500" controls loop="" autoplay="">
			<source src="images/HERO-project_100MB.mp4" type="video/mp4">
				Your browser does not support HTML5 video.
			
		</video>
	</div>

	



		
	
	<script type="text/javascript" src="main.js"></script>
</body>
</html>