@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');
@import	url('https://fonts.googleapis.com/css?family=Ribeye');

@font-face {
   font-family: Playlist Script;
   src: url('Playlist Script.otf') format("opentype");}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	/*background-image: url("../images/Cambodia_180619_0054.jpg");*/
	/*background-size: cover;*/
   /* background-color: #FFF;
    background-repeat: no-repeat;*/
}



img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 100%;
	max-width: 70em;
	margin: 0 auto;
	float:right;
	background:rgba(0,0,0,0.5);
	/*background:rgba(255,130,14,0.5); orange transparent*/
	padding: 1em 1em;
}

/* typoraphy
================== */

h1 {
	font-weight: 300;
	font-size: 1.7rem;
	margin-top: 0;
}

p {
	margin-top: 0;
	line-height: 1.7;
}

p:last-of-type {
	margin-bottom: 0;
}


.title h1 {
	margin-top: 1em;
	font-size: 3.5rem;
	margin-bottom: 1em;
	text-align: right;
	font-weight: 900;
}

.title p {
	margin-bottom: 2em;
	display: block;
	text-align: right;
	font-size: 2em;
	font-weight: 700;

}


@media (max-width: 50rem) {
	.title h1{
		font-size: 2rem;
		text-align: center;
		padding-top: 3em;
	}
	.title p1 {
		text-align: center;
	}
}

.button-text {
	background-color: #FFCCFF;
	color: #FFF;
}

.button {
	display: inline-block;
	font-size: 1.5rem;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 2px;
	border-style: solid;
	padding: .5em 1.75em;
	border-color: #FFCCFF;
	
}

.button:hover,
.button:focus,
.button:active {
	background: #FA92FF;
	border-color: #FA92FF;
	color: #FFF;
	text-decoration: none;
}

@media (min-width: 55rem) {
	.button {
		font-size: 1rem;
	}
}



/* header
================== */

header {
	/*position: absolute;
	/*margin: -.3em -1em -1em 0em; */
	left: 0;
	right: 0;
	background-color: #FFF;
	padding-top: .5em;
}



nav ul {
	margin: 1em;
	padding: 0;
	list-style: none;
	text-align: center;
}

nav li {
	display: inline-block;
	margin: 1em;
}

nav a {
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .9rem;
	padding: .75em;
	color: #A9A9A9;
	margin: 0 auto;
	cursor: pointer;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}

/* stroke */
nav.stroke ul li a {
  position: relative;
}
nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}


@media (min-width: 55rem) {

	.logo {
		float: left;
		margin-left: 3em;
	}
	.nav {
		float: right;
	}
}

@media (max-width: 416px) {
	.logo {
		float: center;
	}
	.nav {
		float: center;
	}
}


/* about hero
================== */

.about-hero {
	background-image: url("../images/Cambodia_180619_0054.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 10em 0;
	color: #FFF;
	height: 100vh;
}


video {
	background-color: #232323;
	padding: 0em 3.5em;
	width: 25vw
	position: relative;
	float: left;
	outline: 2px solid #E8E8E8;
	outline-offset: -2.5em;
}

.video-bg {
	position: absolute;
	top: 700px;
	left: 50px;
	width: 25vw;
	margin: 1em 1em;
}

@media (max-width: 1024px) {
	video {
		margin-top: 12em;
		width: 100vw;
		padding: 2em 0 1em 0; 
		float: none;
		outline: none;
		outline-offset: none;
	}
	.video-bg {
		left: -1em;
		width: 25vw;
	
	}
	.about-hero {
		height: 60vh;
	}
	.container {
		position: absolute;
		top: 300px;
	}
}

@media (max-width: 768px) {
	video {
		margin-top: 3em;
		padding: 1em 0 1em 0; 
	}
}

@media (max-width: 500px) {
	video {
		margin-top: 14em;
		padding: 1em 0 1em 0; 
	}
	.about-hero {
		height: 100vh;
	}
} 

@media (max-width: 360px) {
	video {
		margin-top: 8em;
	}
}


/*  index who we are
========================== */

.whoWeAre {
	font-size: 1.2rem;
	line-height: 2;
	text-align: left;
	word-wrap: break-word;
	float: right;
	padding: 2em 1em 2em 43em;
}


.learnMore {
	font-size: 1.7rem;
	text-decoration: none;
	color: #A9A9A9;
	float: left;
	padding-left: 5em;
	padding-top: 0.5em;
}



@media (max-width: 1024px) {
	.whoWeAre {
		padding:28em 1em 0 1em;
	}
}

@media (max-width: 1000px) {
	.whoWeAre {
		padding:28em 1em 0 1em;
	}
}

@media (max-width: 500px) {
	.whoWeAre {
			padding:17em 1em 0 1em;
	}
}

@media (max-width: 450px) {
	.whoWeAre {
			padding:30em 1em 0 1em;
	}
}
/*
@media (max-width: 60rem) {

	.video {
		width: 100%;
		padding: 7em;
		outline-offset: -4em;
		margin-right: -2.5%;
		top: -5em;
		float: left;
	}

}*/

/* pictures
=================== */

.pictures {
	margin: 0.3em 0 30em;
	padding-top: 3em;
	padding-bottom: 10em;
}

@media (max-width: 500px) {
	 .pictures {
	 	margin: 0.3em 0 0em;
	 	padding-bottom: 0;
	 }
}

.fade-in .pictures{
  transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
}

.picture-item {
	position: relative;
	margin: 0;
}

.picture-item img {
	display: block;
	width: 100vw;
}

@media (min-width: 37rem) {
	.picture-item {
		width: 50%;
		float: left;
	}
	.pictures {
		margin-top: 5em
		margin-bottom: 0;
		padding-bottom: 1em;
	}
}


@media (min-width: 60rem) {
	.picture-item {
		width: 33.3333334%;
	}
}

/* footer
==================== */

footer {
	padding: 20px;
	background-color: #FFF;
	width: 100vw;
}



/* cambodia.html
=================== */

.tipsTitle {
	padding: 2em 0;
	font-size: 6em;
	font-family: 'Playlist', cursive;
	color: #FFF;


}

@media (max-width: 468px) {
	.tipsTitle{
		font-size: 4em;
		padding-bottom: 1em;
		padding-top: 2.5em;
		width: 100vw;
		padding-right: 0;
	}
}

@media (max-width: 549px) {
	.tipsTitle{
		font-size: 3em;
	}
}





.tips .ttl .txt {
	font-size: 3rem;
	position: relative;
	z-index: 5;
	left: 40px;
	padding: 0 0 15px;
}

p .txt {
	margin: 0;
	border: none;
	vertical-align: baseline;
	background: transparent;

}



.answer {
	left: 50%;
	padding: 0 0 0 58%;
	color: #61646d;
	position: relative;
	word-wrap: break-word;
	letter-spacing: 0.2em;
}

/* history
=====================*/


.his-pic1 {
	float: left;
	animation-delay: 300ms;
	margin: 3em 3em 3em 3em;
}


.his-pic2 {
	float: right;
	margin: 3em 3em 3em 3em;
}

.his-pic3 {
	float: left;
	animation-delay: 300ms;
	margin: 3em 3em 3em 3em;
}

@media (max-width: 768px) {
	.his-pic1 {
		display: none;
	}

	.his-pic2 {
		float: none;
	}

	.his-pic3 {
		float: none;
	}
}

@media (max-width: 610px) {

	.his-pic2 {
		float: none;
		margin: 0;
	}

	.his-pic3 {
		float: none;
		margin: 0;
	}
}

.historyArea {
	background-color: #FFCBA4;
	margin: 0 2.5em 0 2.5em;
	width: 100vw;

}


.historyArea p {
	font-size: 1.17em;
	line-height: 2;
	text-align: left;
	word-wrap: break-word;
	padding: 5em 3em 3em 3em;
	z-index: 1

}

@media (max-width: 1024px) {
	 .historyArea p{
		padding: 1em 1em 0 1em;
	}
}





.p3 {
	padding-bottom: 8em;
	padding-top: 4em;
}



.line {
	background: linear-gradient(transparent 40%, #BDEDFF 40%);
}


.titleArea {
	background-image: url("/images/Movie_180716_0048.jpg");
	background-size: cover;
	margin: 0 2.5em 0 2.5em;
	width: 100vw;
}

.history-bg {
	font-family: 'Playlist';
	font-size: 15em;
	color: #E8E8E8;
	opacity: 0.5;
	position: absolute;
	bottom: 0;
	top: 1350px;
	left: 70px;
	transform: rotate(-10deg);
	z-index: 1 ;
}


@media (max-width: 768px) {
	.history-bg {
		display: none !important;
	}
}

@media (max-width: 1024px) {
	.history-bg {
		display: block;
		font-size: 10em;
		top: 1100px;
		left: 100px;
	}
}


/* About
===================*/

.project-area {
	background-color: #FFCBA4;
	margin: 0 2.5em 0 2.5em;
	padding-bottom: 5em;
	width: 100vw;
}

.project p {
	padding-left: 1em;
	padding-top: 2em;
	line-height: 2;
	word-wrap: break-word;
	font-size: 1.17em;
	text-align: left;
	z-index: 20;
	width: 100vw;
}
	
.line-bold {
	font-size: 2em;
	font-weight: 700;
	background: linear-gradient(transparent 40%, #FFA33E 40%);
}

.project-titleArea {
	background-image: url("/images/Movie_180716_0006.jpg");
	margin: 2em 2.5em 0 2.5em;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width:100vw;
}


@media (min-width: 1024px) {
	.project-bg {
		font-family: 'Playlist';
		font-size: 10em;
		color: #E8E8E8;
		opacity: 0.5;
		position: absolute;
		bottom: 0;
		top: 1200px;
		left: 600px;
		z-index: 10;
	}
}



@media (max-width: 768px) {
	.project-bg {
		display: none !important;
	}
}

@media (max-width: 1024px) {
	.project-bg {
		display: block;
		font-size: 10em;
		top: 1100px;
		left: 100px;
	}
}

i {
	font-size: 2.5em;
	color: #000000;
	float: left;
	padding-left: 0.5em;

}

/* information
================== */

h2 {
	padding-left: 1.5em;
}

.info-list ul {
	padding: 0em 3em 1em 3em;

}

.travel-titleArea {
	background-image: url("/images/Cambodia_180619_0068.jpg");
	margin: 0 2.5em 0 2.5em;
	background-size: cover;
	width: 100vw;
}

.info-list {
	float:left;
	font-size: 1.17em;
	text-align: left;
	line-height: 2;
	outline: 3px solid #FFF;
	outline-offset: -1em;
	background-color: #FFDFC2;
	margin: 3em auto 1em 1em;
	
}

@media (max-width: 768px) {
	.info-list {
		margin: 0;
	}
}

.info-innner p{
	font-size: 1.17em;
	text-align: left;
	line-height: 2;
	padding: 22em 35em 7em 3em;
	word-wrap: break-word;
	z-index: 3;

}

.info-pic1 {
	display: block;
	position: absolute;
	top: 830px;
	left: 1000px;
}

.info-pic2 {
	display: block;
	position: absolute;
	top: 980px;
	left: 850px;
	z-index: 1;
}

.info-pic3 {
	display: block;
	position: absolute;
	top: 1200px;
	left: 1000px;
	
}



@media (max-width: 1024px) {
	.info-pic1 {
	display: none;
	}

	.info-pic2 {
		display: none;
	}

	.info-pic3 {
		display: none;
	}
}

.info-bg {
	font-family: 'Playlist';
	font-size: 10em;
	color: #E8E8E8;
	opacity: 0.5;
	position: absolute;
	bottom: 0;
	top: 1350px;
	left: 400px;
	z-index: 2;
	transform: rotate(-10deg);
}

@media (max-width: 768px) {
	.info-bg {
		display: none !important;
	}
}

@media (max-width: 1024px) {
	.info-bg {
		display: block;
		font-size: 10em;
		top: 1100px;
		left: 100px;
	}
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .info-innner p{
        padding:0;
        padding-left: 1.5em;
    }

    .img-mobile {
    	display: block;
    }
}

.img-mobile {
	display: none;
}
